<div class="row breadcrumb">
    <div class="column">
        <%= link_to "Return to Tasks List", tasks_path %>
    </div>
</div>

<div class="row task-content-container">
    <div class="columns small-6">
        <h1><%= @task.title %></h1>
        <p><strong>Description</strong></p>
        <%= @task.description %></p>
        <p><em>Created by <%= @task.creator.email %></em></p>
        <% if @task.owned_by?(current_user) or @task.assigned_to?(current_user)%>
        <p><%= link_to "Edit", edit_task_path(@task) %></p>
        <% end %>
        <p>

        <% if @task.owned_by?(current_user) %>
        <p><%= button_to "Delete",
            { action: "destroy" },
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "button radius alert" %></p>
        <% end %>
    </div>
    <% if @task.assigned_to?(current_user) %>
    <%= button_to "Remove Me From Assignment", task_assignments_path(task_id: @task.id, user: current_user), method: :delete, class: "button radius" %>
    <% else %>
    <%= button_to "Assign To Me", task_assignment_path(task_id: @task, user: current_user), class: "button radius" %>
    <% end %>
<div class="columns small-6 panel">
    <h2><small>Assigned to</small></h2>
    <% if @task.assignees.empty? %>
    <p>Task is not yet assigned to anyone</p>
    <% end %>
    <ul>
    <% @task.assignees.each do |assignee| %>
    <li><%= assignee.email %></li>
    <% end %>
    </ul>
</div>
</div>
